/**
* Your CSS here
**/
body{
    font-family: 'Acme', sans-serif;
    }
h1{
    font-family: 'Bree Serif', serif;
    color:white
    
}

ol {
    margin-top: 0;
    padding-left:0;
    padding: 20px;
    list-style-type: none;
}
.dark{
    background-color:#C18E47;
    color:#660709;
    background-image: linear-gradient(45deg, #F0C33E, #1D828B);
}
.light{
    background-color: #C1890C;
    color:#260E5E;
    background-image: linear-gradient(45deg, #FFE490, #c1890c);
}
.quote{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 5px;
    margin:0;
}
.pharoah{
    background-image:url('https://radiyakamal.github.io/Egypt-experience/static/images/pharoah.jpg');
    background-size: cover;
}


blockquote, dl, figure, form, ol, p, pre, table, ul, h2 {
    margin-bottom: 0;
}
.a-two-in-one-experience-heading{
    color:white;
}
.container{
    display: flex;
    align-items: center;
    width: 100%
}