/**
* Your CSS here
**/
body{
    font-family: 'Acme', sans-serif;
    }
h1{
    font-family: 'Bree Serif', serif;
    color:white
    
}
.dark{
    background-color:#C18E47;
    color:#7E3300
}
.light{
    background-color: #C1890C;
    color:#260E5E
}
.quote{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 5px;
    margin:0;
}
.pharoah{
    background-image:url('https://radiyakamal.github.io/Egypt-experience/static/images/pharoah.jpg');
    background-size: cover;
}


blockquote, dl, figure, form, ol, p, pre, table, ul, h2 {
    margin-bottom: 0;
}
.a-two-in-one-experience-heading{
    color:white;
}